@model IEnumerable<Realme.Data.Employee>

    <h4>Employee Details</h4>
    <p>No. of Employees : @ViewBag.count</p>
    <p>Maximum Salary : @ViewBag.maxSalary</p>
    <a href="/Employee/Create">Add Employee</a>
    <hr>
    <br>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmployeeId)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            <th>@Html.DisplayNameFor(model => model.Department.DepartmentName)</th>
            <th>@Html.DisplayNameFor(model => model.Salary)</th>
            <th>@Html.DisplayNameFor(model => model.JoinDate)</th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                        <td>@item.EmployeeId</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Department.DepartmentName</td>
                        <td>@item.Salary</td>
                        <td>@item.JoinDate</td>
                        <td>
                        <a asp-action="Edit" asp-route-id=@item.EmployeeId>Edit</a> |
                        @Html.ActionLink("Delete", "Delete", new {id = item.EmployeeId})
                        </td>
                </tr>
            }
        </tbody>
    </table>
  