@model IEnumerable<DBfirstapp.Models.Cook>

    <h1>All Books</h1>
    <h4>Total number of book is:@ViewBag.message</h4>
    <a href="/Data/Create">Add bboks Details</a>
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Id)</th>
            <th>@Html.DisplayNameFor(model=>model.Title)</th>
             <th>@Html.DisplayNameFor(model=>model.Author)</th>
            <th>@Html.DisplayNameFor(model=>model.Price)</th>
             <th>@Html.DisplayNameFor(model=>model.Quantity)</th>
            
        </tr>
        <tbody>
            @foreach (var item in Model){
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Author</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                   
                    

                </tr>
            }
            
        </tbody>


    </table>