@model dotnet.Models.Dealer
@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.R)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    
    
}