@model BLood.Models.BloodDonor

<h4> EDIT </h4>
@using (Html.BeginForm())
{
    <div>

    @Html.HiddenFor(m=>m.ID)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
     <div>
        @Html.DisplayNameFor(m=>m.Age)
        @Html.EditorFor(m=>m.Age)
    </div>
    <div>
        @Html.DisplayNameFor(m=>m.BloodGroup)
        @Html.EditorFor(m=>m.BloodGroup)
    </div>
     <div>
        @Html.DisplayNameFor(m=>m.DOB)
        @Html.EditorFor(m=>m.DOB)
    </div>
    <input type="submit" value="Edit Donor"/>
    <br>
}
